@charset "utf-8";
/* CSS Document */


body{background-color:#c1e09e;
	 font-family: 'Roboto', sans-serif;
	}

/*Style for Header*/

header {
/* IE10+ */ 
background-image: -ms-linear-gradient(top, rgba(94,143,38,1) 0%, rgba(108,158,43,1) 50%, rgba(123,175,48,1) 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, rgba(94,143,38,1) 0%, rgba(108,158,43,1) 50%, rgba(123,175,48,1) 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, rgba(94,143,38,1) 0%, rgba(108,158,43,1) 50%, rgba(123,175,48,1) 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(94,143,38,1)), color-stop(50, rgba(108,158,43,1)), color-stop(100, rgba(123,175,48,1)));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, rgba(94,143,38,1) 0%, rgba(108,158,43,1) 50%, rgba(123,175,48,1) 100%);

/* W3C Markup */ 
background-image: linear-gradient(to bottom, rgba(94,143,38,1) 0%, rgba(108,158,43,1) 50%, rgba(123,175,48,1) 100%);}

.logo{margin-top:5%;}

.search{position: relative;
		margin-top: 5%;
		margin-bottom:5px;
		}

.search > span{ position: absolute; 
				top: 26%;
				left: 85%;
				color: #81b436;
			  }
			  
.form-control::-moz-placeholder {color: #81b436;}

.search + p > a { color:#fff;
				  font-weight:500;
			    }
				
.search + p > a:hover{text-decoration:none;
					  outline:none;
					  }
					  

/*Style for Nav*/
					  
.navbar-default {background-color: transparent;
   				 border-color:transparent;
				}
				
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {background-color:#8fd533;
												 color:#fff;
												}

.navbar-nav > li > a { border-radius:10px;
				       background:#81bb35;
					   padding:5px 15px;
					 }
					 
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {background-color:#8fd533;
color:#FFF;}
					 
.navbar-default .navbar-nav > li > a { color:#fff;}
					 
.nav > li {margin-left:15px;}


/*Style for Content*/

.content { background-color:#fff;
		   margin-bottom: 5%;
    	   padding-bottom: 3%;
		  }

.breadcrumb{background:#daf8af;
			margin-top: 10%;
			}

.breadcrumb a{color:#094901;}

.breadcrumb a:focus, .breadcrumb a:hover{ text-decoration: none;}

.breadcrumb > .active { color: #81b436;} 

.breadcrumb > li + li::before {color: #81b436;}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    background-color: #81bb35;
    border-color: transparent;
    color: #fff;}
	
a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
    background-color: #daf8af ;
    color: #555;
	}
	
.list-group-item {background-color: #daf8af;
   				  border: 1px solid #fff;
	             }
									  
.page-header {margin-top:15%;
			  border-top:1px solid #80e405;
			  border-bottom:0px;
			 }
			 
.page-header > h2 { color:#5e9026;}

.pager li a {color:#6ea12c;}

.pager li > a, .pager li > span{border-color:#b8f068;}

.pager li > a:focus, .pager li > a:hover {background-color: #bbe183;
										  color:#fff;
										  }

.text > a {color:#094901;
		   text-decoration:underline;
		   font-size:16px;
		  }
		  
.foodWorker{margin-top:5%;}
		  
p:last-child{color:#7ca14b;}
					 
.form-horizontal .control-label  {color:#094901;}

.form-control{border-color:#b1cb8a;}

.form-control:focus {border-color: #81bb35;
-webkit-box-shadow: inset 0px 0px 7px 0px rgba(129,187,53,0.45);
-moz-box-shadow: inset 0px 0px 7px 0px rgba(129,187,53,0.45);
box-shadow: inset 0px 0px 7px 0px rgba(129,187,53,0.45);}

.form-control > option{color:#7baf30;}
					 
.btn-default {background: #81bb35; 
			  color: #fff;
			  border-radius: 0px;
             }
			 
.btn-default:hover, .btn-default:active, .btn-default:focus { background: #8fd533;
														      border-color:transparent;
															  color: #fff;
															 }
			 
.button{ margin-top: 3%;}



.searchTips {margin-top:10%;}

.searchTips a, .searchTips + ul a{color:#094901;}

.searchTips + ul {margin-bottom:10%;}

.nav > li > a:focus, .nav > li > a:hover {background-color: #daf8af;}


.needHelp {margin-top:7%;}


/*Style for database2*/

.page-header > h3 {color: #6ea12c;
				   font-weight:400;
				   font-size: 22px;
				   }


/* ==========================================================================
   Media Query CSS
   ========================================================================== */
@media (min-width: 320px) and (max-width: 480px){
	
.employmentLawDatabase {font-size: 11px;}
.navbar-default .navbar-toggle .icon-bar {background-color: #fff;}
   
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {background-color: #daf8af;}

.menu > li {margin: 15px 35px;}
}

@media (min-width: 768px) and (max-width: 1024px){
.nav > li {margin-left: 4px;}

.navbar-nav > li > a {padding: 3px 10px;
					  font-size: 10px;
				     }

}